<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308547970885-ajo754q2bnungvuubhpeltqh5d55igvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308547970885-ajo754q2bnungvuubhpeltqh5d55igvl</string>
	<key>API_KEY</key>
	<string>AIzaSyBXoC3YBtQOxvTgXmyz7yYHPq0jF2D3ZMU</string>
	<key>GCM_SENDER_ID</key>
	<string>308547970885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ullamki</string>
	<key>PROJECT_ID</key>
	<string>ullamki</string>
	<key>STORAGE_BUCKET</key>
	<string>ullamki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308547970885:ios:5fb1204a4608b79164402c</string>
</dict>
</plist>